{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript">
window.onload = function() {
	let edicion_select = document.querySelector('#id_edicion_de')
	edicion_select.onchange = function() {
		if (edicion_select.value) {
			xhr = new XMLHttpRequest()
			xhr.addEventListener('load', function() {
				data = JSON.parse(this.responseText);
				data.forEach(function(datum) {
					for (k in datum.fields) {
						if (k != 'edicion_de') {
							let inp = document.querySelector('#id_'+k);
							let val = datum.fields[k];
							console.log(inp)
							if (inp.multiple) {
								for (let i = 0; i < inp.options.length; i++) {
									let op = inp.options[i];
									val.forEach(function(v) {
										if (op.value == v)
											op.selected = true
									})

								}
							}
							else if (inp && inp.type != 'file')
								inp.value = val;
						}
					}
				})
			})
			xhr.open('GET', '{% url "pelicula-raw-get" id_pelicula=0 %}' + edicion_select.value);
			xhr.send();
		}
	}
}
</script>
{% endblock %}
