{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ 'Registro de usuario' }}{% endblock %}

{% block extrahead %}
{{ block.super}}
<!-- jQuery -->
<script src="{% get_static_prefix %}sitema-de-reserva/vendor/jquery/jquery.min.js"></script>
<script src="{% static 'sitema-de-reserva/vendor/jquery/jquery-ui.min.js' %}"></script>
<!-- jQuery UI CSS -->
<link href="{% get_static_prefix %}sitema-de-reserva/css/jquery-ui.css" rel="stylesheet">
<script type="text/javascript">
window.onload=function() {
	$('.datepicker').datepicker();
	$('.datepicker').datepicker('option', 'dateFormat', '{{ date_input_format }}');
}
</script>
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ 'Registro de Usuario - Cines Argentinos' }}</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/registration_form.css' %}" />
{% endblock %}


{% block breadcrumbs %}
{% endblock %}

{% block content %}
<form action="{% url 'accounts-register' %}" method="post">
	{% csrf_token %}
	<table>
		{{ registro_form.as_table }}
		{{ persona_form.as_table }}
		<tr>
			<td><input type="submit" value="Submit" /></td>
		</tr>
	</table>
</form>
{% endblock %}
