{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'mapa.js' %}"></script>
<script type="text/javascript">
window.onload = function() {
	{% if entradas %}
	let entradas = {{ entradas|safe }};
	let sala_columnas = {{ funcion.sala.cant_columnas }};
	let sala_filas = {{ funcion.sala.cant_filas }};
	let entrymap = new EntryMap(entradas, sala_columnas, sala_filas, document.querySelector('#mapa-butacas>table'));

	for (let i=0; i < entrymap.entradas.length; i++) {
		let ent = entrymap.entradas[i];
		let inp = entrymap.inputs[i];
		inp.disabled = !(ent.estado=='D' || ent.estado=='R');
		inp.readOnly = !(inp.disabled);
	}
	{% endif %}
}
</script>
<link rel="stylesheet" href="{% static 'map-admin.css' %}" />
{% endblock %}

{% block after_related_objects %}
{% if entradas %}
<section id="mapa-butacas">
	<h2>Gestionar entradas</h2>
	<table>
	</table>
	<table id="output-butacas">
		<tr><td>Liberar</td><td><input name="entrada-liberar" type="checkbox" /></td></tr>
	</table>
</section>
{% endif %}
{% endblock %}
