{% extends "base.html" %}
{% load i18n %}

{% block content %}

<!-- Header -->
        <header id="ver-pelicula-header" style="background-image: url({{ pelicula.poster_fondo.url }})">
            <div class="pelicula-container">
                <div class="intro-text">
                    <div class="intro-heading intro-heading-ver-pelicula">{{ pelicula.titulo }}</div>
                </div>
            </div>
        </header>
		{% include 'peliculas/pelicula-fragment.html' %}
		<hr/>
		{% include 'peliculas/funciones-fragment.html' %}

{% endblock content %}
