{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'mapa.js' %}"></script>
<script type="text/javascript">
window.onload = function() {
	let seats = {{ seats|safe }};
	let sala_columnas = {{ sala.cant_columnas }};
	let sala_filas = {{ sala.cant_filas }};
	let seatmap = new SeatMap(seats, sala_columnas, sala_filas, document.querySelector('#mapa-butacas>table'));

	let input_visible = document.querySelector('input[name=butaca-visible]');
	let input_reservable = document.querySelector('input[name=butaca-reservable]');
	let input_vendible = document.querySelector('input[name=butaca-vendible]');

	for (let i=0; i < seatmap.inputs.length; i++) {
		seatmap.inputs[i].onclick = function() {
			input_visible.checked = seatmap.butacas[i].visible;
			input_reservable.checked = seatmap.butacas[i].reservable;
			input_vendible.checked = seatmap.butacas[i].vendible;
		}
	}
}
</script>
<link rel="stylesheet" href="{% static 'map-admin.css' %}" />
{% endblock %}

{% block after_related_objects %}
	{% if seats %}
	<section id="mapa-butacas">
		<h2>Disposición de la sala</h2>
		<table>
		</table>
		<div>
			<select name="disponibilidad">
				<option value="V">Vacío</option>
				<option value="N">Normal</option>
				<option value="NR">No reservable</option>
				<option value="NC">No comprable</option>
			</select>
		</div>
		<h4>Referencia</h4>
		<table>
			<tr><td class="entrada vacio">&nbsp;</td><td>Vacio</td></tr>
			<tr><td class="entrada normal">&nbsp;</td><td>Normal</td></tr>
			<tr><td class="entrada no-reservable">&nbsp;</td><td>No reservable</td></tr>
			<tr><td class="entrada no-comprable"></td><td>No comprable</td></tr>
		</table>
	</section>
	{% endif %}
{% endblock %}
