
<h2>Funcion</h2>
<p>{{ funcion }}</p>
<h2>Usuario</h2>
<table>
	<tbody>
		{% if user %}
			{% if user.persona %}
			<tr><td>Nombre</td><td>{{ user.persona.nombre }}</td></tr>
			<tr><td>Apellido</td><td>{{ user.persona.apellido }}</td></tr>
			<tr><td>Tipo de Documento</td><td>{{ user.persona.tipo_dni }}</td></tr>
			<tr><td>Número de documento</td><td>{{ user.persona.nro_dni }}</td></tr>
			{% else %}
			<tr><td>No se registraron datos personales</td></tr>
			{% endif %}
		<tr><td>Usuario</td><td>{{ user.username }}</td></tr>
		<tr><td>e-Mail</td><td>{% if user.email %}{{ user.email }}{% else %}-{% endif %}</td></tr>
		{% else %}
		No se registron datos personales ni de usuario
		{% endif %}
	</tbody>
</table>
<div class="submit-row">
<a href="{% url 'reservas-sell' id_funcion=funcion.id buying_user=user.id %}"><input type="button" value="Vender más entradas a este usuario"/></a>
</div>
