{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react-dom.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/js/app.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	let seats = {{ seats | safe}}
	let prices = {{ prices|safe }};
	let pricetypes = {{ pricetypes|safe }};
	StartSeatPricePickerList(document.querySelector('#price-selector'), {
		'prices': prices, 'priceTypes': pricetypes, 'seats': seats
	});
})
</script>
{% endblock %}

{% block content %}
<div class="topbar-placeholder"></div>
<article id="seleccion-precio">
	<form method="POST">
		{% if tarjeta_form %}
    	<h2>Datos de la tarjeta</h2>
    	<table>
			{{ tarjeta_form.as_table }}
    	</table>
		{% endif %}
    	<h2>Elegir tipo de entrada</h2>
		<div id="price-selector">
		</div>
		{% csrf_token %}
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
</article>
{% endblock content %}
