{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react-dom.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/js/app.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	let rooms = {{ room |safe }};
	let seats = {{ seats|safe }};
	let entryStates = {{ entrystates|safe }};
	let entries = {{ entries|safe }};
	let maxReserves = {{ max_reserva|safe }};
	let pendingReserves = {{ reservas_pendientes|safe }};
	StartReservesMap(document.querySelector('#reserve-map'), {
		'rooms': rooms, 'seats': seats, 'entries': entries,
		'entryStates': entryStates, 'maxReserves': maxReserves,
		'pendingReserves': pendingReserves
	});
})
</script>
<link rel="stylesheet" href="{% static 'map.css' %}" />
{% endblock %}

{% block content %}
<!-- Header -->
<div class="topbar-placeholder"></div>
{% include 'peliculas/pelicula-fragment.html' with pelicula=funcion.pelicula %}
<hr/>
{% include 'salas/sala-fragment.html' with sala=funcion.sala %}
<hr/>
<article id="mapa-butacas">
	<h2>Reservando Disponibilidades</h2>
	<button class="btn btn-primary">Reservar</button>
	<a href="{% url 'reservas-buy' id_funcion=funcion.id%}"><button class="btn btn-default">Comprar</button></a>
	{% if request.user.is_staff %}
	<a href="{% url 'reservas-sell' id_funcion=funcion.id%}"><button class="btn btn-default">Vender</button></a>
	{% endif %}
	<br/>
	<div>
		<h5 id="reservas-output"></h5>
		<form action="{% url 'reservas-reserve' id_funcion=funcion.id %}" method="POST">
			<div class="pantalla">Pantalla</div>
    		<div id="reserve-map"></div>
    		{% csrf_token %}
    		<button type="submit">Reservar</button>
		</form>
	</div>
</article>
{% endblock content %}
