{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react-dom.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/js/app.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	let rooms = {{ room |safe }};
	let seats = {{ seats|safe }};
	let entryStates = {{ entrystates|safe }};
	let entries = {{ entries|safe }};
	let prices = {{ prices|safe }};
	let pricetypes = {{ pricetypes|safe }};
	StartBuyingMap(document.querySelector('#sell-map'), {
		'rooms': rooms, 'seats': seats, 'entries': entries,
		'entryStates': entryStates, 'prices': prices, 'priceTypes': pricetypes
	});

	let pay_cash = document.querySelector('[name=pay_cash]');
	pay_cash.onclick = function() {
		let inputs = pay_cash.parentNode.parentNode.parentNode.querySelectorAll('input,select');
		for (let i = 0; i < inputs.length; i++) {
			if (inputs[i].name != 'pay_cash') {
				inputs[i].disabled = pay_cash.checked;
				inputs[i].readOnly = pay_cash.checked;
			}
		}
	}
	{% if last_code %}
	window.open('{% url 'reservas-code' codigo=last_code%}');
	{% endif %}
})
</script>
<link rel="stylesheet" href="{% static 'map.css' %}" />
{% endblock %}

{% block content %}
<!-- Header -->
<div class="topbar-placeholder"></div>
{% include 'peliculas/pelicula-fragment.html' with pelicula=funcion.pelicula %}
<hr/>
{% include 'salas/sala-fragment.html' with sala=funcion.sala %}
<hr/>
<article id="mapa-butacas">
	<h2>Vendiendo Disponibilidades</h2>
	<a href="{% url 'reservas-reserve' id_funcion=funcion.id%}"><button class="btn btn-default">Reservar</button></a>
	<a href="{% url 'reservas-buy' id_funcion=funcion.id%}"><button class="btn btn-default">Comprar</button></a>
	{% if request.user.is_staff %}
	<a href="{% url 'reservas-sell' id_funcion=funcion.id%}"><button class="btn btn-primary">Vender</button></a>
	{% endif %}
	<br/>
	{% if buying_user %}
	<h5>
		Vendiendo entrada al usuario {{ buying_user.username }}
		{% if buying_user.persona %}
			de {{ buying_user.persona.nombre }} {{ buying_user.persona.apellido }}
		{% endif %}
	</h5>
	{% endif %}
	<form method="POST">
		<div class="pantalla-wrapper">
			<div class="pantalla">Pantalla</div>
			<div id="sell-map"></div>
		</div>
		<table class="tarjeta-form">
			{{ tarjeta_form.as_table }}
		</table>
		{% csrf_token %}
		{% if buying_user %}
			<button type="submit">Venderle a {{ buying_user.username }}</button>
		{% else %}
			<button type="submit">Vender</button>
		{% endif %}
	</form>
</article>
{% endblock content %}
