<!DOCTYPE html>
<html>
	<head>
		<style>
		html {
			font-family: sans-serif;
		}
		h1 {
			font-size: 18pt;
		}
		h2 {
			font-size: 16pt;
		}
		table {
			border-collapse: collapse;
		}
		td,th {
			border: 1px solid black;
			padding: 0.5em;
		}
		th {
			font-weight: bold;
		}
		tr th {
			text-align: right;
		}
		thead th {
			text-align: center;
		}
		tfoot {
			font-weight: bold;
		}
		svg {
			width: 100%;
		}
		p {
			margin: 0.5em;
		}
		.legend {
			font-size: 10pt;
			font-style: italic;
		}
		</style>
	</head>
	<body>
		<h2>Funcion</h2>
		<table>
			<tr><th>Fecha y hora</th><td>{{ funcion.fecha }}</td>
			<tr><th>Pelicula</th><td>{{ funcion.pelicula }}</td>
			<tr><th>Sala</th><td>{{ funcion.sala }}</td></tr>
		</table>

		<h2>Cliente</h2>
		<table>
			{% if user.persona %}
				<tr><th>Apellido</th><td>{{ user.persona.apellido }}</td></tr>
				<tr><th>Nombre</th><td>{{ user.persona.nombre }}</td></tr>
				<tr><th>Documento</th><td>{{ user.persona.tipo_dni }} &mdash; {{ user.persona.nro_dni }}</td></tr>
			{% endif %}
			<tr><th>Nombre de usuario</th><td>{{ user.username }}</td></tr>
		</table>

		<h2>Entradas</h2>
		<table>
			<thead>
				<th>Fecha y hora (compra/reserva)</th>
				<th>Butaca</th>
				<th>Estado</th>
				<th>Tipo de precio</th>
				<th>Monto</th>
			</thead>
			<tbody>
				{% for ee in estadoentradas %}
				<tr>
					<td>{{ ee.0.fecha }}</td>
					<td>{{ ee.0.entrada.butaca }}</td>
					<td>{{ ee.0.get_estado_display }}</td>
					<td>{{ ee.1.tipo_precio.nombre }}</td>
					<td>${{ ee.1.monto }}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>SUBTOTAL</td>
					<td>${{ subtotal }}</td>
				</tr>
			</tfoot>
		</table>
		<svg>
		{{ code39|safe }}
		</svg>
		<p class="legend">Ticket no valido como factura</p>
		<p class="legend">El precio de las reservas no es definitivo hasta realizar el pago</p>
	</body>
</html>
