{% extends 'admin/change_form.html' %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link href="{% get_static_prefix %}sitema-de-reserva/css/jquery-ui.css" rel="stylesheet" />
<link href="{% get_static_prefix %}admin/css/changelists.css" rel="stylesheet" />
<style type="text/css">
svg {
	width: 100%;
}
</style>
{% endblock %}

{% block breadcrumbs%}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Otros
&rsaquo; Verificar codigo
</div>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react-dom.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/js/app.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static 'sitema-de-reserva/vendor/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'sitema-de-reserva/vendor/jquery/datepicker-es.js' %}"></script>
{% if allow_sell %}
<script type="text/javascript">
$(document).ready(function() {
	let entrystates = {{ entrystates|safe }};
	let entries = {{ entries|safe }};
	let seats = {{ seats|safe }};
	let prices = {{ prices|safe }};
	let pricetypes = {{ pricetypes|safe }};
	let rooms = {{ rooms|safe }};
	StartSeatPricePickerList(
		document.querySelector('#price-selector'), {
			'rooms': rooms,
			'entryStates': entrystates,
			'entries': entries,
			'seats': seats,
			'prices': prices,
			'priceTypes': pricetypes,
			'fieldHeads': ['Fecha y Hora', 'Butaca', 'Estado'],
			'fields': [
				es => (new Date(es.fields.fecha)).toLocaleString(),
				es => es.fields.entrada.fields.butaca.fields.sala.fields.nombre + ' ' + es.fields.entrada.fields.butaca.toString(),
				es => es.get_estado_display(),
			],
		}
	)

	//let selects = Array.from(document.querySelectorAll('#seleccion-precio select[name=precio]'));
	//let output = document.querySelector('#seleccion-precio .total-output');
	//new PaymentSelector(prices, selects, output);
	let pay_cash = document.querySelector('[name=pay_cash]');
	pay_cash.onclick = function() {
		let inputs = pay_cash.parentNode.parentNode.parentNode.querySelectorAll('input,select');
		for (let i = 0; i < inputs.length; i++) {
			if (inputs[i].name != 'pay_cash') {
				inputs[i].disabled = pay_cash.checked;
				inputs[i].readOnly = pay_cash.checked;
			}
		}
	}
	$('.datepicker').datepicker();
	$('.datepicker').datepicker('option', 'dateFormat', '{{ date_input_format }}');
});
</script>
{% endif %}
{% endblock %}

{% block content %}<div id="content-main">
<h1>Ingrese código a verificar</h1>
<div id="changelist">
	<div id="toolbar">
		<form class="changelist-search" method="GET">
			{{ code_form }}
			<input type="submit" value="Verificar" />
		</form>
	</div>
</div>
{% if code39 %}
	{% include 'reservas/code-metadata.html' %}
	{% if allow_sell %}
		<h2>Entradas</h2>
		<form method="POST" id="seleccion-precio">
			<div id="price-selector"></div>
			<table class="tarjeta-form">
				{{ tarjeta_form.as_table }}
			</table>
			<div class="submit-row">
				<a href="{% url 'reservas-code' codigo=code_plain %}"><input type="button" value="Vista de impresion de este codigo" /></a>
				{% if allow_sell %}
				{% csrf_token %}
				<input type="submit" value="Venderle a {{ user.username }}" />
				{% endif %}
			</div>
		</form>
	{% else %}
		<h2>Entradas</h2>
		<table>
			<thead>
				<td>Fecha y hora</td>
				<td>Butaca</td>
				<td>Estado</td>
				<td>Tipo de precio</td>
				<td>Monto</td>
			</thead>
			<tbody>
				{% for ee in estadoentradas %}
				<tr>
					<td>{{ ee.0.fecha }}</td>
					<td>{{ ee.0.entrada.butaca }}</td>
					<td>{{ ee.0.get_estado_display }}</td>
					<td>{{ ee.1.tipo_precio.nombre }}</td>
					<td>${{ ee.1.monto }}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>SUBTOTAL</td>
					<td class="total-output">${{ subtotal }}</td>
				</tr>
			</tfoot>
			<div class="submit-row">
				<a href="{% url 'reservas-code' codigo=code_plain %}"><input type="button" value="Vista de impresion de este codigo" /></a>
			</div>
		</table>
	{% endif %}
{% endif %}
</div>
{% endblock %}
