@import url(map.css);

#mapa-butacas {
	text-align: left;
}

#mapa-butacas table {
	text-align: center;
}

#output-butacas {
	display: inline-block;
	vertical-align: top;
	border: 0;
}
#output-butacas td {
	padding: 1em;
	margin: 0;
}

select[name=disponibilidad] {
	margin: 1em;

}
