#mapa-butacas {
	margin: 0 15px 0 15;
	padding: 0 2em 0 2em;
	text-align: center;
}

#mapa-butacas .entrada {
	width: 2em;
	min-height: 2em;
	vertical-align: top;
	padding: 0;
	border: 0;
	padding: 2pt;
}
#mapa-butacas .entrada input {
	display: block;
	margin: 0 auto;
}
#mapa-butacas>div, #mapa-butacas .pantalla-wrapper {
	display: inline-block;
}
#mapa-butacas .mapa-oculto {
	display: none !important;
}
#mapa-butacas .pantalla {
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ba2121;
	color: #ffffff;
	border-radius: 5px;
	margin-top: 1em;
}
#mapa-butacas button[type="submit"] {
	margin-top: 2em;
}
#mapa-butacas .selector {
	display: inline-block;
}
#mapa-butacas thead>td, #mapa-butacas td:first-child {
	color: #ba2121;
	font-weight: bold;
	font-size: 12pt;
	padding: 0;
	vertical-align: middle;
}

#mapa-butacas .tarjeta-form {
	margin: 0 auto;
	margin-top: 3em;
}
#mapa-butacas #seleccion-precio {
	margin: 0 auto;
	margin-top: 3em;
}
#mapa-butacas .tarjeta-form input, select {
	float: right;
}
#mapa-butacas .tarjeta-form ul {
	margin: 0;
	margin-bottom: 1em;
	padding: 0.5em;
}

#mapa-butacas .tarjeta-form ul.errorlist.nonfield {
	display: block;
	text-align: center;
}

#mapa-butacas .tarjeta-form ul.errorlist {
	background-color: #ba2121;
	color: #ffffff;
	text-align: left;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#mapa-butacas .tarjeta-form ul.errorlist li {
	padding: 0;
}

#mapa-butacas .tarjeta-form li {
	display: list-item;
}

#mapa-butacas .entrada.vacio {
	background-color: transparent;
}
#mapa-butacas .entrada.normal {
	background-color: rgb(120,220,120);
}
#mapa-butacas .entrada.no-reservable {
	background-color: yellow;
}
#mapa-butacas .entrada.no-comprable {
	background-color: #ba2121;
}
