{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="es">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Reserva de Cines</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% get_static_prefix %}sitema-de-reserva/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% get_static_prefix %}sitema-de-reserva/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="{% get_static_prefix %}style.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% get_static_prefix %}sitema-de-reserva/css/agency.min.css" rel="stylesheet">

	<!-- jQuery UI CSS -->
	<link href="{% get_static_prefix %}sitema-de-reserva/css/jquery-ui.css" rel="stylesheet">

	<!-- jQuery -->
    <script src="{% get_static_prefix %}sitema-de-reserva/vendor/jquery/jquery.min.js"></script>
	<script src="{% static 'sitema-de-reserva/vendor/jquery/jquery-ui.min.js' %}"></script>
	<script src="{% static 'sitema-de-reserva/vendor/jquery/datepicker-es.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

	<!-- Place datepicker widgets -->
	<script type="text/javascript">
	$(document).ready(function() {
		$('.datepicker').datepicker();
		$('.datepicker').datepicker('option', 'dateFormat', '{{ date_input_format }}');
	})
	</script>
    {% endblock head %}
</head>


<body id="page-top" class="index">

{% block menu %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Sistema de Cines Argentinos</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'inicio' %}#cartelera">Cartelera</a>
                    </li>
                    <li style="border-left: 1px solid #FFFFFF">
                        <a class="page-scroll" href="{% url 'inicio' %}#precios">Precios</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li style="border-left: 1px solid #FFFFFF">
                    	<a class="page-scroll" href="{% url 'accounts-reservations' %}">Mis Entradas</a>
                    </li>
                    {% if user.is_staff %}
                    <li style="border-left: 1px solid #FFFFFF">
                        <a class="page-scroll" href="{% url 'admin:index' %}">Panel</a>
                    </li>
                    {% endif %}
                    <li style="border-left: 1px solid #FFFFFF">
                        <a class="page-scroll" href="{% url 'accounts-logout' %}">Cerrar Sesion</a>
                    </li>
                    {% else %}
                	<li style="border-left: 1px solid #FFFFFF">
	                    <a href="{% url 'accounts-login' %}?next={% url 'inicio' %}" class="page-scroll">Ingresar</a>
                    </li>
                    <li style="border-left: 1px solid #FFFFFF">
    	                <a href="{% url 'accounts-register' %}?next={% url 'inicio' %}" class="page-scroll">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        {% if breadcrumbs %}
            <div class="navbar-header page-scroll">
                <ol class="breadcrumb">
                    {% for b in breadcrumbs %}
                        {% if forloop.last %}
                        <li class="breadcrumb-item active">{{ b.name}}</li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{{ b.url }}">{{ b.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>   
            </div>
        {% endif %}

        <!-- /.container-fluid -->
    </nav>
{% endblock menu %}

<!-- MAIN Content -->
    <main>
            <div class="row">
                <div class="col l12 s12 m12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
    </main>

<div class="row">
    <div class="col l12 s12 m12"> 
        {% block precios %}
        {% endblock precios%} 
    </div>   
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Cines Argentinos 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                        <a href="{% get_static_prefix %}manuales/ManualdeUsuario.pdf" target="__blank">Manual de Usuarios</a>
                        </li>
                        {% if user.is_staff %}
                        <li>
                        <a href="{% get_static_prefix %}manuales/ManualdeOperario-Administrador.pdf" target="__blank">Manual de Administrador</a>
                        </li>
                        {% endif %}

                    </ul>
                
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% get_static_prefix %}sitema-de-reserva/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% get_static_prefix %}sitema-de-reserva/js/jqBootstrapValidation.js"></script>
    <script src="{% get_static_prefix %}sitema-de-reserva/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% get_static_prefix %}sitema-de-reserva/js/agency.min.js"></script>

</body>

</html>
